/* #chartContainer {
    display: block;
    height:185px;
    width:607px;    
}
#dynamicChart {
    height:100%;
    width:100%;    
} */
/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} */

#focusHoursContainer{
    width: 80%;
}

.chartCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 90%;
    height: 85%;
    padding: 2rem;
    border-radius: 2rem;
    border: solid 3px rgba(69, 68, 173, 1);
    background: rgb(245, 242, 228);
    margin-top: 4%;
}

#dynamicFocusHours {
    font-size:1.4rem;
}