.productivity-container {
  position: relative;
  width: 99.7%;
  height:99.4%;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.swiper-popular-articles {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 70%;
}

.swiper-popular-articles .swiper-slide  {
  width: 29rem;
  height: 27rem;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-top: 1rem;
  border-radius: 1rem;
  display: table;
  transition: filter 0.5s ease;
  
}

.swiper-popular-articles .swiper-slide:hover {
  filter: contrast(0.7);
}

.png-wrapper {
  width: 100%;
  height: 20rem;
  background-color: rgb(241, 241, 241);
  display:flex;
  justify-content: center;
  align-items:center;
  
  
}

.text-headline {
 
  width: 100%;
  height: 35%;
  padding: 10px;
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  background-color: rgb(2, 34, 50);
  cursor: pointer;
}

.text-headline h2, .text-headline-new-article h2 {
  color: white;
  font-size: 18px;
  margin-top: -3px;
}

/* SEARCHBOX */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(138, 138, 138);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(138, 138, 138);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(138, 138, 138);
  background: rgb(138, 138, 138);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap{
  width: 30%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
