/* Custom Color properties */

:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-300: hsl(229, 60%, 78%);
    --clr-neutral-700: hsl(0, 0%, 54%);
    --clr-neutral-200: hsl(180, 62%, 76%);
    --clr-neutral-400: hsl(156, 85%, 66%);
    --clr-neutral-100: rgb(255, 255, 255);
    --clr-neutral-200: rgba(182, 182, 182, 0.655);
    --clr-neutral-500: rgba(241, 51, 51, 0.803);
}


/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    background: var(--clr-neutral-300);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    color: var(--clr-neutral-700);
    margin: 0;
    padding: 0;
}


/* CARDS */

.swiper {
    width: 100%;
    height: 83vh;
    padding-top: 100px;
    padding-bottom: 20px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 140vh;
    height: 83vh;
    background-color: var(--clr-neutral-100);
    padding: 2rem 2 2 2;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-content {
    padding: 1.5em;
    
}

.card-title {
    position: relative;
    padding: 10px;
    font-weight: 900;
    font-size: x-large;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: var(--clr-neutral-700);
}


/* BUTTONS FOR SLIDER NAVIGATION "LEFT & RIGHT" */

.swiper-button-next,
.swiper-button-prev {
    color: var(--clr-neutral-700);
}


/* NAVIGATION BAR */

.swiper-pagination {
    position: absolute;
    top: 25px;
    right: auto;
    width: 80%;
    left: auto;
    margin: 0;
    font-weight: 900;
    max-height: 40px;
}

.swiper-pagination-bullet {
    padding: 5px 10px;
    border-radius: 1rem;
    width: 30vh;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    color: var(--clr-neutral-700);
    opacity: 1;
    background: var(--clr-neutral-100);
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.swiper-pagination-bullet:hover {
    transform: scale(1.01);
}

.swiper-pagination-bullet-active {
    color: var(--clr-neutral-100);
    background: var(--clr-neutral-300);
}


/* CALENDAR */

#calendarMain {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

.dateInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 10px;
    gap: 30px;
}

.calendarMonth {
    display: flex;
    gap: 30px;
}

.calendarYear {
    display: flex;
    gap: 30px;
}

.callendarButton {
    background-color: transparent;
    font-size: 15px;
    border-radius: 20%;
    text-align: center;
    border: transparent;
}

.callendarButton:hover {
    background-color: black;
    color: white;
}

.createdReminder {
    color: brown;
    display: flex;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container a {
    padding: 30px;
    background: var(--clr-neutral-300);;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background: var(--clr-neutral-300);;
    width: 100%;
    height: 100%;
}

.modal-container {
    overflow: auto;
    text-align: center;
    height: 55%;
    width: 30%;
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
}

.modal input{
    height: 25px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: gray 1px solid;
}


.modal-container div{
    text-align: left;
}
.modal-container button{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    width: 40%;
    border: var(--clr-neutral-200) 2px solid;
    background: var(--clr-neutral-300);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.modal-container a{
    color: var(--clr-neutral-300);
    cursor: pointer;
}

.z-index{
    z-index: -1;
}