/* Custom Color properties */

:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-300: hsl(229, 60%, 78%);
    --clr-neutral-700: hsl(0, 0%, 54%);
    --clr-neutral-200: hsl(180, 62%, 76%);
    --clr-neutral-400: hsl(156, 85%, 66%);
    --clr-neutral-100: rgb(255, 255, 255);
    --clr-neutral-200: rgba(182, 182, 182, 0.655);
    --clr-neutral-500: rgba(241, 51, 51, 0.803);
    --clr-neutral-1000: rgba(0, 0, 0, 0.332);
}


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(120deg, rgba(41, 128, 185, 1) 49%, rgba(69, 68, 173, 1) 98%);
    font-size: 14px;
    color: var(--clr-neutral-700);
    margin: 0;
    padding: 0;
}


/* CARDS */

.swiper {
    width: 100%;
    height: 83vh;
    padding-top: 100px;
    padding-bottom: 20px;
    overflow: hidden;

}



.swiper-slide {
    position: relative;
    background-size: cover;
    width: 80%;
    height: 80vh;
    background-color: var(--clr-neutral-100);
    padding: 2rem 2 2 2;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    
   
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-content {
    padding: 1.5em;
    margin-top: -30px;
    
    
}

.card-title {
    position: relative;
    padding: 2px;
    font-weight: 900;
    font-size: x-large;
}

#titleFix {
    position: relative;
    padding: 2px;
    font-weight: 900;
    font-size: x-large;
    margin-left: 20px;
}

/* .card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: var(--clr-neutral-700);
} */


/* BUTTONS FOR SLIDER NAVIGATION "LEFT & RIGHT" */

.swiper-button-next,
.swiper-button-prev {
    color: var(--clr-neutral-1000);
}


/* NAVIGATION BAR */

.swiper-pagination {
    position: absolute;
    top: 25px;
    right: auto;
    width: 80%;
    left: auto;
    margin: 0;
    font-weight: 900;
    max-height: 40px;
}

.swiper-pagination-bullet {
    padding: 5px 10px;
    border-radius: 1rem;
    width: 30vh;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    color: var(--clr-neutral-700);
    opacity: 1;
    background: var(--clr-neutral-100);
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: transform .2s
}

.swiper-pagination-bullet:hover {
    transform: scale(1.03);
}

.swiper-pagination-bullet-active {
    color: var(--clr-neutral-100);
    background: var(--clr-neutral-31000);
}


/* CALENDAR */

#calendarOuterWrapper {
    background-color: #2980b9;
    border-radius: 20%;
    /* width: 100%; */
}

#calendarMain {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    color: white;
    background-color: #2980b9;
    max-height: fit-content;
    border-radius: 2%;
    transform: scale(0.85);
    /* width: 100%; */
}

.dateInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 11px;
    margin-bottom: 10px;
    gap: 30px;
    color: black;
    text-shadow: 2px 2px 5px rgb(146, 144, 144);
}

.calendarMonth {
    display: flex;
    gap: 30px;
    color: aliceblue;
    border-radius: 2rem;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #2980b9;
}

.calendarYear {
    color: #2980b9;
    display: flex;
    gap: 30px;
    color: aliceblue;
    border-radius: 2rem;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #2980b9;
}

.callendarButton {
    color: aliceblue;
    background-color: transparent;
    font-size: 15px;
    border-radius: 20%;
    text-align: center;
    border: transparent;
}

.createdReminder {
    color: brown;
    display: flex;
}

#calendarTable {
    /* border-collapse: separate; */
    border-spacing: 0.2rem;
    min-height: 80%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container a {
    padding: 30px;
    background: var(--clr-neutral-300);
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 110vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 50%;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -55vh;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background: linear-gradient(120deg, rgba(41, 128, 185, 1) 49%, rgba(69, 68, 173, 1) 98%);
    width: 100%;
    height: 100%;
}

.modal-container {
    overflow: auto;
    text-align: center;
    height: 55%;
    width: 30%;
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
    overflow: hidden;
}

.modal input {
    height: 25px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: gray 1px solid;
}

.modal-container div {
    text-align: left;
}

.modal-container button {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    width: 40%;
    border: var(--clr-neutral-200) 2px solid;
    background: linear-gradient(120deg, rgba(41, 128, 185, 1) 49%, rgba(69, 68, 173, 1) 98%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.modal-container a {
    color: rgba(69, 68, 173, 0.7);
    cursor: pointer;
}

.z-index {
    display: none;
}

.card-body img {
    padding: 3px;
    border-radius: 25px;
}

.card-body img:hover {
    cursor: pointer;
}

.go-back-button {
    display: none;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    border: rgba(69, 68, 173, 1) 2px solid;
    background: linear-gradient(120deg, rgba(41, 128, 185, 1) 49%, rgba(69, 68, 173, 1) 98%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.reminderBtnsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    height: fit-content;
}

.reminderBtns {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 10px;
    margin: 0 5px;
    border: none;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: transform .2s
}

.reminderBtns:hover {
    transform: scale(1.03);
}

.js-clock {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: black;
    max-height: fit-content;
    border-radius: 2%;
    text-shadow: 2px 2px 5px rgb(146, 144, 144);
}

.reminderInput {

    border: 1px solid black;
    border-radius: 0.5rem;
    border: none;

}

#savedReminders {
    padding-top: 15px;
    font-size: 2rem;
}

#remindersTableId {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 90%;
    color: white;
    border-radius: 2%;
    text-shadow: 2px 2px 5px rgb(146, 144, 144);
    background-color: #2980b9;
    max-height: 18rem;
    overflow: auto;
    
    border-radius: 0.8rem;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#remindersContainer {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddReminderPopUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    border-radius: 0.8rem;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-shadow: 2px 2px 5px rgb(146, 144, 144);
    background-color: #2980b9;
    width: 90%;
    height: 2.5rem;
    color: aliceblue;
    padding-inline: 0.5rem;
}

#AddReminderPopUpContainer {
    padding-top: 22px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


::-webkit-scrollbar {
    width: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: transparent;
}

 ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.removeReminderByIdBtn {
    transition: all 300ms ease-in-out;
    color: #2980b9;
    border: 0px solid black;
    background-color: aliceblue;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-shadow: 2px 2px 5px rgb(146, 144, 144);
    border-radius: 2rem;
}

.removeReminderByIdBtn:hover {
    transform: scale(1.2);
}

.remindersTd {
    padding: 1.2rem;
}

#productivity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.productivity-images img {
    
    /* justify-content: space-between; */
    align-items: center;
    height: fit-content;
    /* width: 23%; */
    width: 20%;
    height: 145px;
}

.calendarReminderDataDay {
    color: red;
    font-weight: bold;
}

.calendarReminderDataDay :hover {
    color: red;
}

.Productivity-pics {
    padding-right: 15px;
    border: 1px solid grey;
    box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-shadow: 2px 2px 5px rgb(146, 144, 144);
}

.Productivity-pics:hover {
    gap: 20px;
    transition: all 300ms ease-in-out;
    transform: scale(1.12)

}